In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [7]:
    %sql SELECT * FROM songplays LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(6986,)]

In [6]:
%sql SELECT count(*) FROM users;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(96,)]

In [8]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(71,)]

In [9]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(69,)]

In [5]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1541903636796, 2, 11, 45, 11, 2018, 6),
 (1541903770796, 2, 11, 45, 11, 2018, 6),
 (1541904034796, 2, 11, 45, 11, 2018, 6),
 (1541910973796, 4, 11, 45, 11, 2018, 6),
 (1541911006796, 4, 11, 45, 11, 2018, 6)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).